<h1>Add Telemedic</h1>

<form id="add-telemedics-form" >
  <input type="hidden" name="authenticity_token" value="rwNy0L1njvWARf4wvJ3VO2EtKfctXhXqbvDF08x6c2B_86vlJ4ViTe2D1m_4s4BZs0Eyhhh8MYnYRsHZiVwZSg">
  <label for="Doctor_s_Name">Doctor's name</label>
  <input type="text" name="doctors-name" id="doctors-name" placeholder="Enter Doctor's Name...">
  <br>
  
  <label for="Contact_No">Contact no</label>
  <input type="text" name="contact-no" id="contact-no" placeholder="Enter Contact Number...">
  <br>

  <label for="Timings">Timings</label>
  <input type="text" name="timing" id="timing" placeholder="Enter Timing">
  <br>
  
  <label for="Verification_Status">Verification status</label>
  <select name="verification-status" id="verification-status">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <br>
  
  <label for="Functional_Status">Functional status</label>
  <select name="functional-status" id="functional-status">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <br>
  
  <label for="Location">Location</label>
  <input type="text" name="location" id="location" placeholder="Enter Location...">
  <br>  
  
  <input type="submit" name="commit" value="Save Doctor" data-disable-with="Save Doctor">
</form>