<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag("image-1.png", class: "d-block w-100", alt: "Co We Can") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
        </div>
        </div>
        <div class="carousel-item">
        <%= image_tag("image-2.jpg", class: "d-block w-100", alt: "Shanawaz S. Shaikh") %>
        <div class="carousel-caption d-none d-md-block caption-highlight">
            <h5 style="color:black;">Shanawaz S. Shaikh</h5>
            <a href="https://www.facebook.com/humansofbombay/posts/1676776372531333">Oxygen Man of Mumbai helps people in home isolation</a>
        </div>
        
        </div>
        <div class="carousel-item">
        <%= image_tag("image-3.jpg", class: "d-block w-100", alt: "Covid 19 WHO") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>Covid 19 WHO</h5>
            <p>Covid 19 WHO Prevention Guide</p>
        </div>
        
        </div>
        <div class="carousel-item">
        <%= image_tag("image-5.png", class: "d-block w-100", alt: "Covid 19 WHO") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>Covid 19 WHO</h5>
            <p>Covid 19 WHO Prevention Guide</p>
        </div>
        
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="root-wrapper mt-5">
        <p class ="intro-wrapper">
        Tele-cov will provide a list of telemedicine doctors all over India, Nutritionist, psychlogists, resource volunteers who will search for your needs with regard to oxygen cylinders, available beds, medicines for free.
        </p>
        <a href="/about-us" class="btn btn-primary about-button mb-5 mt-2">Read More</a>
        <h6 class="title-text" style="font-weight:bold;">Updates and Announcements</h6>
        <div class="links-wrapper mt-3 mb-5">
            <span>
                <p>Any good Samaritan if wants to help us with helping people via this website, kindly join our telegram group<br>
                    <a href="http://www.dhoondh.com/" target="_blank" class="btn btn-primary resource-button">Telecov Volunteers</a>
                </p>
            </span>
            <span>
                <p>Do you need plasma or want to donate plasma? This link is the answer to your wants.<br>
                    <a href="https://www.dhoondh.com/" target="_blank" class="btn btn-primary resource-button my-1">Dhoondh</a><br>
                    (Made by Adwitiya Mal, a Delhi based Samaritan)
                </p>
            </span>
            <span>
                <p>Are you looking for hospital beds, oxygen supplies, remdesivir, other such medicines, in any part of India? 

                This link will answer your queries -
                <br>
                    <a href="https://covid19-twitter.in/" target="_blank" class="btn btn-primary resource-button">Covid Twitter</a><br>
                
                    (Made by Umang Galaiya, a Banglore based Samaritan)
                </p>
            </span>
        </div>
        <h1 class="title-text">Important Covid Resources</h1>
        <div class="button-wrapper mt-3 mb-5">
            <a href="/mission" class="btn btn-primary resource-button">Mission</a>
            <a href="/telemedics" class="btn btn-primary resource-button">Telemedics Doctors</a>
            <a href="/tele-psychologists" class="btn btn-primary resource-button">Tele Pyshcologists</a>
            <a href="/tele-nutrionists" class="btn btn-primary resource-button">Tele Nutrionists</a>
            <a href="/covid-resources" class="btn btn-primary resource-button">Covid Resource Persons</a>
            <a href="/oxygen" class="btn btn-primary resource-button">Oxygen Suppliers</a>
            <a href="/oxygen-dealers" class="btn btn-primary resource-button">Oxygen Dealers</a>
            <a href="/other" class="btn btn-primary resource-button">Other Useful Links</a>
        </div>
    </div>
</div>