<div class="center">
    <h1 class="mt-5 mx-3">Our Mission</h1>
    <div class="aboutus-content">
        <p>
            This website is prodiving the list of doctors who will be available on telephone to treat mild covid for free. 
            <br><br>
            Covid-19 doesn't only take a toll on physical health but also on ones' mental health. So, here's a list of some psychologists who will counsel frontline workers and covid patients for free or at a minimal rate. 
            <br><br>
            Good food doesn't just provide a great mood but also a stronger immunity. We are also providing a nutritionist who will counsel you for your food intake as per your budget, for free. 
            <br><br>
            Lastly, you can contact our volunteers for other scouting for beds, medicines and oxygen all over the country. 
        </p>
        <br><br>
        <br><br><br><br><br><br>
    </div>
</div>
<style>
    .aboutus-content {
        max-width:600px;
        margin-top:30px;
    }
    .footer {
        position:fixed;
        bottom:0;
    }
    .avatar {
        vertical-align: middle;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit:cover;
    }
    .profile-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .button-wrapper {
        max-width: 450px;
    }
    @media screen and (max-width: 640px) {
        .aboutus-content {
            width: 95%;
            margin: 0 20px;
        }
    }
</style>