<div class="other-wrapper">
  <ul>
      <li>
        <a href="https://covidfacts.in/" target="_blank">Covid Facts</a> 
      </li>
      <li>
        <a href="https://coronahelpindia.com/" target="_blank">Corona Help India</a> 
      </li>
      <li>
        <a href="https://external.sprinklr.com/insights/explorer/dashboard/601b9e214c7a6b689d76f493/tab/5?id=DASHBOARD_601b9e214c7a6b689d76f493" target="_blank">Sprinklr</a> 
      </li>
  </ul>
</div>
<style>
.footer {
  position:fixed;
  bottom:0;
}
.other-wrapper {
  max-width:1024px;
  margin: 30px auto;
  font-size: 20px;
  text-decoration: underline;
}
</style>
<% if Rails.env.production? %>
  <script>
      gtag('view_item', 'Other Links');
  </script>
<% end %>