// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.d-block {
    max-height: 500px !important;
    height: 500px;
    object-fit: contain;
    // background-color: aqua;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
ul.custom li, ol.custom li {margin-top: 24px !important;}
ul.custom >:last-child {padding-bottom: 24px !important;}
.root-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.title-text {
    text-align: center;
}
.button-wrapper {
    display: flex;
    max-width: 420px;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 22px;
    column-gap: 22px;
    align-items: center;
    justify-content: center;
}
.links-wrapper {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 22px;
    column-gap: 22px;
    padding: 10px;
    justify-content: center;
}
.links-wrapper > span {
    width: 300px;
}
.intro-wrapper {
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: larger;
}
.contacts-wrapper {
    display: flex;
    max-width: 620px;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 22px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.resource-button {
    width: 190px;
}
.about-button {
    justify-self: center;
    margin: 0 auto;
    align-items: center;
    display: flex !important;
    text-align: center;
    justify-content: center;
    width: 120px;
}
.caption-highlight {
    background-color: #ccc;
    border-radius: 10px;
    width: 250px;
    opacity: 0.8;
    margin: 0 auto;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 300px !important;
    min-height: 300px !important;
    margin: auto;
    text-align: center;
    border-radius: 15px !important;
    padding: 10px !important;
    justify-content: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.card-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card-button:hover, .card-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 640px) {
    .d-block {
        min-height: 200px !important;
        height: 200px;
        object-fit: contain;
        // background-color: aqua;
    }
}