<div class="center">
    <h1 class="mt-5 mx-3">List of Telemedics Doctor available</h1>
    <iframe class="mt-3 mx-3" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR18oTVjACvuOlbhU8oj0U-ySaRazM07E-m43YC0qwKl7Xpo1twSQb2e6bsRFjxBnMsVry2eyC7es-o/pubhtml?gid=434934066&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>
<% if Rails.env.production? %>
    <script>
        gtag('view_item', 'Telemedics');
    </script>
<% end %>